__pycache__/*
checkpoints/*
datasets/__pycache__/*
losses/__pycache__/_*
logs_pipeline/*
logs/stage1_clean.txt
logs/stage2_clean.txt
logs/stage3_clean.txt
experiments/*
*.pth
logs_pipeline/stage1.log
logs_pipeline/stage2.log
logs_pipeline/stage3.log
main_log.out
