__pycache__/*
checkpoints/*
datasets/__pycache__/*
experiments/sha_zip_clip_ebc/stage1/best_stage1_model.pth
experiments/sha_zip_clip_ebc/stage1/last_stage1_model.pth
experiments/sha_zip_clip_ebc/stage2/best_stage2_model.pth
experiments/sha_zip_clip_ebc/stage2/last_stage2_model.pth
experiments/sha_zip_clip_ebc/stage2/logs/*
experiments/sha_zip_clip_ebc/stage3/best_stage3_model.pth
experiments/sha_zip_clip_ebc/stage3/last_stage3_model.pth
experiments/sha_zip_clip_ebc/stage3/logs/*
losses/__pycache__/_*
logs_pipeline/*
logs/stage1_clean.txt
logs/stage2_clean.txt
logs/stage3_clean.txt
experiments/é
experiments/sha_zip_clip_ebc_64bins/stage1/best_stage1_model.pth
experiments/sha_zip_clip_ebc_64bins/stage1/last_stage1_model.pth
experiments/sha_zip_clip_ebc_64bins/stage2/best_stage2_model.pth
experiments/sha_zip_clip_ebc_64bins/stage2/last_stage2_model.pth
experiments/sha_zip_clip_ebc_64bins/stage2/logs/events.out.tfevents.1764814192.e9ec2311c7a9.3470413.0
experiments/sha_zip_clip_ebc_64bins/stage3/best_stage3_model.pth
experiments/sha_zip_clip_ebc_64bins/stage3/last_stage3_model.pth
experiments/sha_zip_clip_ebc_64bins/stage3/logs/events.out.tfevents.1764819626.e9ec2311c7a9.3707886.0
experiments/sha_zip_clip_ebc_l40s/stage1/best_stage1_model.pth
experiments/sha_zip_clip_ebc_l40s/stage1/last_stage1_model.pth
experiments/sha_zip_clip_ebc_l40s/stage2/best_stage2_model.pth
experiments/sha_zip_clip_ebc_l40s/stage2/last_stage2_model.pth
experiments/sha_zip_clip_ebc_l40s/stage2/logs/events.out.tfevents.1764885150.e9ec2311c7a9.348932.0
experiments/sha_zip_clip_ebc_l40s/stage2/logs/events.out.tfevents.1764958874.e9ec2311c7a9.2120033.0
experiments/sha_zip_clip_ebc_l40s/stage2/logs/events.out.tfevents.1764959819.e9ec2311c7a9.2123198.0
experiments/sha_zip_clip_ebc_l40s/stage3/best_stage3_model.pth
experiments/sha_zip_clip_ebc_l40s/stage3/last_stage3_model.pth
experiments/sha_zip_clip_ebc_l40s/stage3/logs/events.out.tfevents.1764893399.e9ec2311c7a9.952632.0
experiments/sha_zip_clip_ebc_l40s/stage3/logs/events.out.tfevents.1764958887.e9ec2311c7a9.2120157.0
experiments/sha_zip_clip_ebc_l40s/stage3/logs/events.out.tfevents.1764967629.e9ec2311c7a9.2314043.0
experiments/sha_zip_clip_ebc_64bins/stage1/best_stage1_model.pth
experiments/sha_zip_clip_ebc_64bins/stage1/last_stage1_model.pth
experiments/sha_zip_clip_ebc_64bins/stage2/best_stage2_model.pth
experiments/sha_zip_clip_ebc_64bins/stage2/last_stage2_model.pth
experiments/sha_zip_clip_ebc_64bins/stage2/logs/events.out.tfevents.1764814192.e9ec2311c7a9.3470413.0
experiments/sha_zip_clip_ebc_64bins/stage3/best_stage3_model.pth
experiments/sha_zip_clip_ebc_64bins/stage3/last_stage3_model.pth
experiments/sha_zip_clip_ebc_64bins/stage3/logs/events.out.tfevents.1764819626.e9ec2311c7a9.3707886.0
experiments/sha_zip_clip_ebc_64bins/stage1/best_stage1_model.pth
experiments/sha_zip_clip_ebc_64bins/stage1/last_stage1_model.pth
experiments/sha_zip_clip_ebc_64bins/stage2/best_stage2_model.pth
experiments/sha_zip_clip_ebc_64bins/stage2/last_stage2_model.pth
experiments/sha_zip_clip_ebc_64bins/stage2/logs/events.out.tfevents.1764814192.e9ec2311c7a9.3470413.0
experiments/sha_zip_clip_ebc_64bins/stage3/best_stage3_model.pth
experiments/sha_zip_clip_ebc_64bins/stage3/last_stage3_model.pth
experiments/sha_zip_clip_ebc_64bins/stage3/logs/events.out.tfevents.1764819626.e9ec2311c7a9.3707886.0
*.pth
